@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #f1f1f1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #000000;
    font-weight: 600;
    letter-spacing: 1px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
}

button {
    padding: 12px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #444444;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
}

li button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}
